












body{
    background-color: gray;
 
body{
    background-color: gray;
    color: aliceblue;
    font-family: "Roboto Condensed", sans-serif;
}
.cabecalho{
    background-color: midnightblue;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    align-items: center;
}

.cartao{
width: 260px;
height: 200px;
}
.cartao img{
    width: 80%;
}